.site-banner-visible {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  h4 {
    margin: 0;
    position: absolute;
  }
  .cancel-button {
    font-size: 25px;
    right: 0;
    height: 100%;
    margin-left: auto;

    &:hover {
      cursor: pointer;
      rotate: 90deg;
      transition: 2s ease-out 100ms;
    }
  }
}
.site-banner-invisible {
  display: none;
}
